#screen {
  position: fixed;
  border: 1px, solid, black;
  border: solid;
  border-color: white;
  background-image: url(../images/fliesen.png);
}

body {
  background-image: url("../images/wool.jpg");
}

#itemcount {
  position: fixed;
  border: 1px, solid, black;
  border: solid;
  border-color: white;
  background-image: url(../images/inventorybg.png);
  background-position: bottom 0px right 0px;
}

#info {
  position: fixed;
  border: 1px, solid, black;
  border: solid;
  border-color: white;
  background-image: url(../images/infobg.png);
}

#buildselect {
  position: fixed;
  border: 1px, solid, black;
  border: solid;
  border-color: yellow;
  background-image: url(../images/infobg.png);
  width: 1192;
  height: 568;
  overflow-y: scroll;
  padding: 4;
}

#infoDesc {
  position: fixed;
  width: 240;
  height: 192;
  font-family: 'Electrolize', sans-serif;
  direction: rtl;
}

#infoDesc h1 {
  font-size: 26px;
  direction: ltr;
}

#infoDesc p {
  font-size: 19px;
  overflow-y: auto;
  direction: ltr;
  height: 166;
}

.buildtile {
  width: 48;
  height: 48;
  margin: 4;
}

/* Custom Scrollbar */

::-webkit-scrollbar {
  width: 12;
}

::-webkit-scrollbar-track {
  background: #B0BEC5;
}

::-webkit-scrollbar-thumb {
  background: #78909C;
}

::-webkit-scrollbar-thumb:hover {
  background: #546E7A;
}
