#screen {
  position: fixed;
  border: 1px, solid, black;
  border: solid;
  border-color: white;
  background-image: url(../images/fliesen.png);
}

body {
  background: #310609;
}

#itemcount {
  position: fixed;
  border: 1px, solid, black;
  border: solid;
  border-color: white;
  background-image: url(../images/inventorybg.png);
  background-position: bottom 0px right 0px;
}

#info {
  position: fixed;
  border: 1px, solid, black;
  border: solid;
  border-color: white;
  background-image: url(../images/infobg.png);
}

#oretiers {
  position: fixed;
  border: 1px, solid, black;
  border: solid;
  border-color: yellow;
  background-image: url(../images/infobg.png);
  width: 1192;
  height: 568;
  overflow-y: scroll;
  padding: 4;
}

#oretiers h1 {
  font-size: 40px;
  display: inline;
  font-family: 'Electrolize', sans-serif;
}

#help {
  width: 1200;
  height: 864;
  position: fixed;
  z-index: 100;
  background-image: url(../images/helpoverlay.png);
}

#oretiers h2 {
  font-size: 31px;
  display: inline;
  font-family: 'Electrolize', sans-serif;
  padding-left: 6px;
  padding-top: 4.5px;
  padding-right: 6px;
  display: inline;
  height: 40px;
}

#buildselect {
  position: fixed;
  border: 1px, solid, black;
  border: solid;
  border-color: yellow;
  background-image: url(../images/infobg.png);
  width: 1192;
  height: 568;
  overflow-y: scroll;
  padding: 4;
}

#selectFactory {
  position: fixed;
  border: 1px, solid, black;
  border: solid;
  border-color: yellow;
  background-image: url(../images/infobg.png);
  width: 1192;
  height: 568;
  padding: 4;
}

.factory {
  float: left;
  width: 289;
  margin: 2;
  height: 140;
  font-family: 'Electrolize', sans-serif;
  background-color: lightgray;
}

.factory h1 {
  float: left;
  font-size: 20;
  line-height: 7;
  width: 40%;
  height: 100%;
  margin-left: 10%;
}

.factory h2 {
  font-size: 18;
}

#buyfactory {
  width: 1192;
  height: 128;
  font-family: 'Electrolize', sans-serif;
  color: floralwhite;
}

.factoryToBuy {
  float: left;
  height: 120;
  width: 230;
  background-color: lightgray;
  margin: 2px;
}

.factoryToBuy p {
  text-align: center;
  color: black;
  float: left;
  font-size: 18px;
  line-height: 29px;
  width: 50%;
}

.factoryToBuy h1 {
  text-align: center;
  color: black;
  float: left;
  font-size: 18px;
  line-height: 43px;
  width: 100%;
}

.factoryToBuy h2 {
  text-align: center;
  color: black;
  float: left;
  font-size: 18px;
  line-height: 43px;
  width: 100%;
}

.factoryToBuy span {
  text-align: center;
  color: black;
  float: left;
  font-size: 18px;
  line-height: 24px;
  width: 65%;
}

.factoryToBuy span span {
font-size: 12px;
width: 100%
}

.factoryToBuy img {
  float: left;
  margin-left: 16;
}

#factoryScroll {
  overflow-y: scroll;
  width: 1192;
  height: 440;
}

#playerinfo {
  position: fixed;
  width: 100%;
  text-align: right;
  top: 0;
  color: floralwhite;
}

#selectItem {
  position: fixed;
  border: 1px, solid, black;
  border: solid;
  border-color: yellow;
  background-image: url(../images/infobg.png);
  width: 1192;
  height: 568;
  overflow-y: scroll;
  padding: 4;
}

#infoDesc {
  position: fixed;
  width: 240;
  height: 180;
  font-family: 'Electrolize', sans-serif;
}

#options {
  position: fixed;
  width: 192;
  height: 180;
  font-family: 'Electrolize', sans-serif;
}

.optionslable {
  height: 48px;
  line-height: 48px;
}

.ui-spinner {
  width: 70;
}

#options img {
  border-top-width: 1px;
  border-left-width: 1px;
  border-bottom-width: 1px;
  border-right-width: 1px;
  border-style: solid;
  border-color: orange;
}

#infoDesc h1 {
  font-size: 26px;
  direction: ltr;
}

#infoDesc p {
  font-size: 19px;
  overflow-y: auto;
  direction: ltr;
  height: 154;
}

#tooltip {
  background-color: rgba(0, 0, 0, 0.3);
  font-family: 'Electrolize', sans-serif;
  position: fixed;
  width: fit-content;
  color: floralwhite;
  padding: 2px;
  border: 2px;
  border-style: solid;
  border-color: gray;
  z-index: 100;
}

#money {
  position: fixed;
  font-family: 'Electrolize', sans-serif;
  font-size: 22px;
  width: 1200;
  height: 42px;
  line-height: 42px;
  text-align: center;
  z-index: -1;
  color: floralwhite;
}

.itemBig {
  width: 72;
  height: 72;
  /*background-image: url(../images/inventorybg.png);*/
}

#showmore {
  width: 350;
  height: 24;
  position: fixed;
}

#inventoryBig {
  position: fixed;
  border: 1px, solid, black;
  border: solid;
  border-color: yellow;
  background-image: url("../images/wool.jpg");
  width: 1192;
  height: 568;
  padding: 4;
}

#clickToSell {
  width: 1192;
  height: 38;
  font-family: 'Electrolize', sans-serif;
  font-size: 22px;
  line-height: 38px;
  text-align: center;
  color: floralwhite;
}

#itemsScroll {
  overflow-y: scroll;
  width: 1192;
  height: 530;
}

body {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}

.buildtile {
  width: 48;
  height: 48;
  margin: 4;
}

/* Custom Scrollbar */

::-webkit-scrollbar {
  width: 12;
}

::-webkit-scrollbar-track {
  background: #B0BEC5;
}

::-webkit-scrollbar-thumb {
  background: #78909C;
}

::-webkit-scrollbar-thumb:hover {
  background: #546E7A;
}
