#screen {
  position: fixed;
  border: 1px, solid , black;
  border: solid;
  border-color: white;
  background-image: url(../images/fliesen.png);
}

body {
   background-image: url("../images/wool.jpg");
}
